<%- include("./../includes/header.ejs") %>
<%- include("./../includes/navbar.ejs") %>

<main class="container mt-5">
  <div class="row">
    <% if(prods.length > 0) { %>

    <% for(let product of prods) { %>
    <div class="col-4 mb-4">
      <div class="card" style="width: 18rem">
        <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.title %>" />
        <div class="card-body">
          <h5 class="card-title text-capitalize"><%= product.title %></h5>
          <p class="card-text">
            <p class="text-justify"><%= product.description %></p>
            <p class="text-center" style="font-size: 1.3rem; font-weight: bold;">

              <%= ejs_util.rupiah.format(product.price) %>
            </p>
          </p>
          <div class="d-flex justify-content-center">
            <a href="/admin/edit-product/<%= product.id %>?edit=true" class="btn btn-primary btn-sm mx-3">Edit</a>
            <form action="/admin/delete-product" method="post">
              <input type="hidden" name="productId" value="<%= product.id %>">
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <% } else { %>
    <h1>No products found!</h>
      <% } %>
  </div>
</main>

<%- include("./../includes/footer.ejs") %>