<%- include("./../includes/header.ejs") %>
<%- include("./../includes/navbar.ejs") %>

<main class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <% if(cartProducts.length > 0) { %>


      <% for(p of cartProducts) { %>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row d-flex align-items-center">
            <div class="col-2">
              <img src="<%= p.productData.imageUrl %>" alt="<%= p.productData.title %>" class="img-thumbnail"
                style="max-height: 80px;">
            </div>
            <div class="col-4">
              <h5 class="text-capitalize"><%= p.productData.title %></h5>
              <span class="mr-2">Price: <%= p.productData.price %></span>
              <span class="mr-2">||</span>
              <span class="mr-2">Qty: <%= p.qty %></span>
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col-8 text-right" style="font-weight: bold;">
                  <%= ejs_util.rupiah.format(p.productData.price * p.qty) %>
                </div>
                <div class="col-4 d-flex justify-content-center">
                  <form action="/cart-delete-item" method="POST">
                    <input type="hidden" name="productId" value="<%= p.productData.id %>">
                    <button class="btn btn-primary btn-sm" type="submit">Del</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <% } else { %>
      <h3>No product in cart</h3>
      <% } %>

    </div>
  </div>
</main>

<%- include("./../includes/footer.ejs") %>